@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>

<div id="popularPedaloes">
    <!--Placeholder to see how big the container is -->
    <h2 style="text-align:center;">Most Popular Pedaloes</h2>
    <table style="margin: auto; width: 100%;">
        <tr>
            @foreach (var pedalo in Model.PopularPedaloes)
            {
                <td style="text-align: center;">
                    <div id="pedaloCircle" style="border: 15px solid @pedalo.Color;">
                        <div id="pedaloCircleText">
                            <p style="font-size:30px;color:black;margin:0;">@pedalo.BookingsCount</p>
                        </div>
                    </div>
                </td>
            }
        </tr>
        <tr>
            @foreach (var pedalo in Model.PopularPedaloes)
            {
                <td id="pedaloCircleName" style="text-align:center;font-weight:bold;font-size:15px;">
                    <span>@pedalo.Name</span>
                </td>
            }
        </tr>
    </table>
</div>

<br />
<br />
<div id="flexBookingCustomer">
    <div id="quickBooking">
        <a asp-page="/Bookings/Create" class="btn btn-primary" style="height:20%; font-size: 35px; width:90%; align-content:center; font-weight:bold; text-align:center;">Quick Create Booking</a>
    </div>
    <br />
    <br />
    <div> <!--Placeholder to see how big the container is -->
        <div>
            <h2 style="text-align:center;">Business' Highest-Grossing Customers</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Bookings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.TopCustomers)
                    {
                        <tr>
                            <th scope="row">@customer.Rank</th>
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                            <td>@customer.BookingsCustomerCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

