@page
@model PedaloWebApp.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers";
}

<h1>@ViewData["Title"]</h1>
<br />
<div>
    <a asp-page="./Create" asp-route-id="CustomerId" class="btn btn-primary btn-lg btn-block">Create</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Birthday Date")
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.BirthdayDate.ToString("dd.MM.yyyy")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CustomerId" class="btn btn-outline-warning">Edit</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.CustomerId" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>