@page
@model PedaloWebApp.Pages.Bookings.IndexModel
@{
    ViewData["Title"] = "Bookings";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Customer")
            </th>
            <th>
                @Html.DisplayName("Pedalo")
            </th>
            <th>
                @Html.DisplayName("Start Date")
            </th>
            <th>
                @Html.DisplayName("End Date")
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pedalo.Name)
                </td>
                <td>
                    @item.StartDate.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @(item.EndDate != null ? item.EndDate.Value.ToString("yyyy-MM-dd HH:mm:ss") : "n/a")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Create" asp-route-id="BookingId">Create</a>
    <br />
</div>