@page
@model PedaloWebApp.Pages.Bookings.IndexModel
@{
    ViewData["Title"] = "Bookings";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Pedalo.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].EndDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pedalo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>