@page
@model PedaloWebApp.Pages.Pedaloes.IndexModel
@{
    ViewData["Title"] = "Pedaloes";
}

    <h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].HourlyRate)
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Pedaloes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PedaloId">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>